@page "{handler?}"

@using RazorPagesApp.Models

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model RazorPagesApp.PersonModel

<h2>Список пользователей</h2>

<label for="userlist"><a asp-page="PersonsDetails">Создать нового пользователя</a></label> 
<table class="table" style="border:2px solid black" name="userlist">
    <tr><td>Name</td><td>Age</td><td>Action</td></tr>
    @foreach (Person person in Model.DisplayedPeople)
    {
<tr>
    <td>@person.Name</td>
    <td>@person.Age</td>
    <td>
        <a asp-page="PersonsDetails" asp-route-id="@person.Id">Изменить</a>
        <a asp-page-handler="Delete" asp-route-person="@person.Id">Удалить</a>
    </td>
</tr>
    }
</table>

@*<form asp-page-handler="byname" method="get">
    <label for="name">Name filter</label>
    <input type="text" name="name" /> <input type="submit" value="go filter" />
</form>
<form asp-page-handler="byage" method="get">
    <label for="age">Age filter</label>
    <input type="number" name="age" /> <input type="submit" value="go filter" />
</form>
<form asp-page="person" method="get">
    <input type="submit" value="clear filter" />
</form>*@